.appbar {
  .appbar__title {
    color: white;
    text-decoration: none;
  }
  .appbar__toolbar {
    padding-right: 0;
  }
  .appbar__avatar {
    width: 2rem;
    height: 2rem;
  }
  .appbar__typography {
    flex-grow: 1
  }
  .appbar__icon {
    margin-right: $xss-size 
  }
}