.not-found-page {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  & &__icon {
    font-size: 9rem;
    color: $color-grey;
  }
  & &__title {
    font-size: 1rem;
  }
}