* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: "New Hero Bd","Helvetica","Roboto","Arial",sans-serif;
}

body {
  height: 100%;
}

#root {
  height: 100%;
}

.app {
  display: grid;
  grid-template-rows: 4.9rem auto fit-content(5rem);
  grid-template-areas: "appbar"
                       "content"
                       "footer";
  height: 100%;
  background-color: $color-app-background;
}

.appbar {
  grid-area: appbar;
}

.content {
  grid-area: content;
  display: flex;
  /* More about this https://moduscreate.com/blog/how-to-fix-overflow-issues-in-css-flex-layouts/*/
  min-height: 0px;
  overflow-y: auto;
  @media screen and (max-width: $size-max-mobile) {
    position: relative;
    margin-bottom: 56px;
  }
}

.footer {
  grid-area: footer;
}