/**
  Load Custom font families
*/
@font-face {
  font-family: 'New Hero Bd';
  src: url('/fonts/HeroNew-Regular.otf');
}

@font-face {
  font-family: 'New Hero Bd';
  src: url('/fonts/HeroNew-Bold.otf');
  font-weight: bold;
}

@font-face {
  font-family: 'New Hero Bd';
  src: url('/fonts/HeroNew-Light.otf');
  font-weight: lighter;
}

/**
  Use New Hero Bd for all classes except material-icons
*/
*:not(.material-icons) {
  box-sizing: border-box;
  font-family: "New Hero Bd", "Helvetica", "Roboto", "Arial", sans-serif !important;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

#root {
  height: 100%;
}

.app {
  display: grid;
  grid-template-rows: fit-content(4.5rem) auto fit-content(5rem);
  grid-template-areas: "appbar"
    "content"
    "footer";
  height: 100%;
}

.appbar {
  grid-area: appbar;
}

.content {
  grid-area: content;
  display: flex;
  background-color: $color-app-background;
  @media screen and (max-width: $size-max-mobile) {
    position: relative;
    margin-bottom: 56px;
  }
}

.ios {
  @media screen and (max-width: $size-max-mobile) {
    margin-bottom: 0;
  }
}

.footer {
  grid-area: footer;
}