* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

#root {
  height: 100%;
}

.app {
  display: grid;
  grid-template-rows: fit-content(4.5rem) auto fit-content(5rem);
  grid-template-areas: "appbar"
    "content"
    "footer";
  height: 100%;
}

.appbar {
  grid-area: appbar;
}

.content {
  grid-area: content;
  display: flex;
  background-color: $color-app-background;
  @media screen and (max-width: $size-max-mobile) {
    position: relative;
    margin-bottom: 56px;
  }
}

.ios {
  @media screen and (max-width: $size-max-mobile) {
    margin-bottom: 0;
  }
}

.footer {
  grid-area: footer;
}