// Spacing
$xss-size: 0.2rem;
$s-size: 1.2rem;
$m-size: 8.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

// Colors
$color-white: #FFFFFF;
$color-grey: rgba(0, 0, 0, 0.54);
$color-text-grey: rgba(0, 0, 0, 0.87);
$color-bottom-bar-icon-grey: rgb(128, 128, 128);
$color-app-background: #FAFBFC;
$color-primary: #007A93;
$color-secondary:#e0e0e0;
$color-facet-background:#f5f5f552;
$color-disabled: rgba(0, 0, 0, 0.26);

//Screen Sizes
$size-max-mobile: 650px;
$size-drawer-left-margin: 23rem;
$size-drawer-mobile-max: 20rem;