.my-finds-page {
  flex: 1;
  display: flex;
  flex-direction: column;
  @media screen and (min-width: $size-max-mobile) {
    margin: $size-full-screen-margin;
    max-width: $size-full-screeen-max-size;
  }
  & &__find {
    margin: 8px 16px;
    box-shadow: 0 1px 6px rgba(32,33,36,0.28);
    border-radius: 8px;
    &__actions {
      justify-content: space-between;
      &__more-container {
        display: flex;
        flex: 1;
      }
      &__continue-container{
        flex: 1;
        padding-left: 3rem;
      }
      &__status-container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        padding-right: 0.5rem;
        flex: 1;
        &__text {
          display: flex;
          align-items: center;
          &__chip {
            height: 24px;
            span {
              padding: 0 6px;
            }
          }
        }
        &__icon {
          font-size: 4rem;
          color: $color-grey;
        }
      }
    }
    &__details {
      display: flex;
      justify-content: space-between;
      &__card-header {
        font-size: 1.2rem;
      }
      &__content {
        flex: 1;
      }
      &__img-container {
        flex-direction: column;
        padding: 16px 16px 16px 0 !important;
        &__img {
          width: 120px !important;
          height: 76px !important;
          div {
            border-radius: 9%;
          }
        }
      }
    }
  }
  & &__header-container {
    display: flex;
    justify-content: center;
    &__paper {
      display: flex;
      flex: 1;
      flex-direction: column;
      margin: 1rem 1rem 0.6rem 1rem;
      justify-content: center;
      box-shadow: 0 1px 6px rgba(32,33,36,0.28);
      border-radius: 8px;
      &__additionals {
        display: flex;
        flex: 1;
        &__select {
          flex: 1;
          margin: 6px;
          & .MuiOutlinedInput-notchedOutline {
            border-color: rgba(0, 0, 0, 0.12);
          }
        }
        &__icons {
          display: flex;
          flex-direction: column;
          align-items: center;
          flex: 1;
          margin: 6px;
          border: 1px solid rgba(0, 0, 0, 0.12);
          border-radius: 4px;
          &__header {
            margin: 0;
            line-height: 1.5;
          }
          &__btn-icon {
            padding: 0;
            margin-right: 12px;
          }
        }
      }
    }
    &__header {
      font-size: 1rem;
      text-align: center;
    }
  }
}