.answer-options {
  &__input {
    display: none;
  }
  &__label {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  &__expand-panel {
    flex: 1;
    margin: 1rem;
  }
  & &__slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    &__avatar {
      width: 100px;
      height: 100px;
      margin: 10px 0 40px 0;
      font-size: 3rem;
      background: $color-bottom-bar-icon-grey;
    }
    &__slider {
      width: 85%;
    }
    &__input {
      margin: 0;
    }
  }
}
