.appbar {
  & &__title {
    color: white;
    text-decoration: none;
  }
  & &__toolbar {
    padding-right: 0;
  }
  & &__avatar {
    width: 2rem;
    height: 2rem;
  }
  & &__typography {
    flex-grow: 1
  }
  & &__icon {
    margin-right: $xss-size 
  }
}