.appbar {
  z-index: 1;
  & &__title {
    color: white;
    text-decoration: none;
  }
  & &__toolbar {
    padding-right: 0;
    &__link {
      text-decoration: none;
      @media screen and (max-width: $size-max-mobile){
        flex: 1;
      }
    }
    &__logo-container {
      display: flex;
      align-items: center;
      margin-right: 2rem;
      &__logo {
        height: 2.5rem;
        margin-right: 0.5rem;
      } 
      &__text {
        margin: 0;
        text-decoration: none;
        color: $color-white;
        font-size: 1.4rem;
      }
    }
    &__log-out-button, &__log-out-button:hover {
      background: $color-ligher-grey;
      padding: 4px 7px;
      border-radius: 4px;
      margin: 0 12px;
    }
  }
  & &__avatar {
    width: 2rem;
    height: 2rem;
    background: $color-primary;
  }
  & &__button {
    background: $color-ligher-grey;
    &__icon {
      color: $color-dark-grey;
    }
  }
  & &__typography {
    margin-right: 2rem;
  }
  & &__typography--mobile {
    flex-grow: 1;
  }
  mobile
  & &__icon {
    margin-right: $xss-size 
  }
  & &__login-button {
    padding: 24px 8px;
  }
  & &__icon-container  {
    flex-grow: 1;
    &__icon {
      color: white;
      &__label {
        opacity: 1;
        font-size: 0.9rem;
        transition: font-size 0.2s, opacity 0.2s;
        transition-delay: 0s, 0s;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        transition-delay: 0.1s;
      }
    }
    &__icon--selected {
      border-bottom: 3px solid white;
      border-radius: 0;
      padding: 12px 12px 10px 12px;
    }
    .MuiIconButton-label-82 {
      flex-direction: column;
    }
  }
  & &__more-icon {
    padding: 0;
    margin: 0 12px;
  }
  & &__ios--popper {
    z-index: 1;
  }
}
