.nearby {
  flex: 1;
  display: flex;
  flex-direction: column;
  &__tool-bar {
    display: flex;
    & &__paper {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 2px;
      &__tabs {
        &__tab {
          padding: 0;
          font-size: 0.75rem;
        }
      }
    }
    & &__icon {
      font-size: 2.3rem;
      color: $color-grey;
    }
    & &__form-control-label {
      margin-right: 0;
    }
  }
  &__map {
    flex: 14; 
    display: flex;
    /* More about this https://moduscreate.com/blog/how-to-fix-overflow-issues-in-css-flex-layouts/*/
    min-height: 0px;
    &__container {
      flex: 1;
      display: flex;
      &__find-content {
        flex: 1;
        display: flex;
        flex-grow: 1;
        transition: margin 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
        margin-left: -$size-drawer-left-margin;
        &--shifted {
          flex: 1;
          display: flex;
          transition: margin 225ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
          margin-left: 0
        }
      }
      &__find-content--mobile {
        flex: 1;
        display: flex;
      }
    }
    &__progress {
      margin: auto;
    }
  }
}