.overview {
  & &__paper {
    display: flex;
    margin: 1rem 1rem 0.6rem 1rem;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
    border-radius: 8px;
  }
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  & &__header {
    text-align: center;
    font-size: 1rem;
  }
  & &__find-site {
    padding: 0.5rem;
    margin-bottom: 1rem;
    flex: 5 1 0;
    display: flex;
    flex-direction: column;
    min-height: 25rem;
    &__photos {
      flex: 1;
    }
    &__map {
      flex: 3;
      display: flex;
      flex-direction: column;
      min-height: 13rem;
    }
  }
  & &__find {
    padding: 0.5rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 0 1rem 0.6rem 1rem;
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
    border-radius: 8px;
    &__details-container {
      display: flex;
      flex-direction: column;
      flex: 1;
    }
  }
  & &__properties {
    padding: 0.5rem 0.5rem 0.5rem 0;
    font-size: 0.9rem;
    &--value {
      padding: 0.5rem 0.5rem 0 1rem;
      font-size: 0.8rem;
      display: flex;
      align-items: center;
    }
  }
}