.question {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  align-items: center;
  flex: 1;
  & &__icon {
    color: grey;
    font-size: 6rem;
  }
  &__properties {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      text-align: center;
    }
  }
  .help-bar {
    position: absolute;
    align-self: flex-end;
  }
  .answer-options {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    &.full-content {
      flex: 1;
    }
    &__text-field {
      width: 100%;
    }
    & .photo-renderer {
      &__photo{
        width: 4rem;
        height: 4rem;
        margin: 0.5rem;
      }
    }
    &__progress {
      align-self: center;
    }
    &__date-picker-container{
      flex: 1;
      display: flex;
      &__span {
        margin: 1rem 0.5rem 1rem 0.5rem;
      }
    }
    &__date-picker {
      input {
        text-align: center;
      }
    }
  }
  .button-bar {
    margin-top: 1rem;
    align-self: stretch;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column;
    button {
      margin: 0.2rem;
    }
  }
}