.slider {
  margin-bottom: 1rem;
  &__container {
    &__img {
      height: 200px;
      max-width: 250px;
      object-fit: cover;
    }
  }
  &__container:hover {
    transform: scale(1.05);
  }

  // Plugin stylings
  .carousel{
    .slide {
      background: rgb(247, 247, 247);
      transition: transform 420ms cubic-bezier(0.165, 0.84, 0.44, 1);
      .legend {
        left: 0;
        right: 0;
        margin: -35px auto;
        width: 40%;
        opacity: 0.35;
      }
    }
    .control-next.control-arrow:before {
      border-left: 8px solid $color-bottom-bar-icon-grey;
    }
    .control-prev.control-arrow:before {
      border-right: 8px solid $color-bottom-bar-icon-grey;
    }
    .control-dots {
      position: unset;
      display: flex;
      justify-content: center;
      margin-top: 2rem !important;
      .dot {
        background: $color-bottom-bar-icon-grey;
      }
    }
  }
}