.table {
  flex: 1;
  &__column {
    &__icon {
      width: 40px;
      border-radius: 50%
    }
  }
  & &__detail-panel {
    &__container {
      display: flex;
      @media screen and (max-width: $size-max-mobile) {
        flex-direction: column;
      }
      padding: 1rem;
      &__image {
        flex: 1;
        height: 12rem;
        background-size: cover;
        @media screen and (max-width: $size-max-mobile) {
          width: 100%;
        }
      }
      &__icon {
        flex: 1;
        text-align: center;
        font-size: 8rem;
        color: $color-grey;
      }
      &__content {
        flex: 2;
      }
    }
  }

  // change order of elements
  // This makes pagination the first element
  & > div:first-of-type {
    display: flex;
    flex-direction: column-reverse;
  }

  // Hide search bar of material ui
  & > div:first-of-type > div:first-of-type {
    display: none;
  }

  // Change mobile view of table
  @media screen and (max-width: $size-max-mobile) {
    & tbody {
      tr {
        border: 1px solid rgba(224, 224, 224, 1);
      }
      tr td {
        display: block;
        border: none;
      }
      tr td:first-of-type {
        display: table-cell;
        font-weight: bold;
      }
      tr td:nth-of-type(2) {
        display: table-cell;
        padding-right: 0;
      }

      tr td:before {
        font-weight: bold;
      }
      // Hard Coded Column Names
      tr td:nth-of-type(3):before {
        content: "Title: ";
        padding-left: 0;
      }
      tr td:nth-of-type(4):before {
        content: "Material: ";
        padding-left: 0;
      }
      tr td:nth-of-type(5):before {
        content: "Type: ";
        padding-left: 0;
      }
      tr td:nth-of-type(6):before {
        content: "Period: ";
        padding-left: 0;
      }
      tr td:nth-of-type(7):before {
        content: "Town: ";
        padding-left: 0;
      }
    }
    & thead {
      display: none;
    }
  }
}