.smart-helper {
  // Override all the div classses that start with MuiDrawer-paperAnchorBottom
  div[class*="MuiDrawer-paperAnchorBottom"] {
    height: 100%;
    max-height: 75%;
    background-color: $color-app-background;
  }

  &__chart {
    margin-top: 1rem;
  }
}