* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: "New Hero Bd","Helvetica","Roboto","Arial",sans-serif;
}

body {
  height: 100%;
}

#root {
  height: 100%;
}

.app {
  display: grid;
  grid-template-rows: 4.9rem auto fit-content(5rem);
  grid-template-areas: "appbar"
                       "content"
                       "footer";
  height: 100%;
  background-color: $color-app-background;
}

.appbar {
  grid-area: appbar;
}

.footer {
  grid-area: footer;
}